In [1]:
import pandas as pd
import numpy as np
import pandas_gbq
import os.path
from pandas.io.json import json_normalize
from datetime import datetime
import json
pd.options.display.max_columns = None

In [2]:
trade = """
with trade as (

WITH
  latest_date AS (
  SELECT
    pancard,
    MAX(updated_time) AS latest_date
  FROM
    `bharatpe-analytics-prod.bharatpe_mongo_data.consumer_bureau_data`
  WHERE
    DATE(ingested_time) >= "2022-09-01"
  GROUP BY
    1 )

SELECT
  e.pancard,
  JSON_VALUE(responses,'$.LOAN-DETAILS.DISBURSED-AMT') disbursed_amount,
  JSON_VALUE(responses,'$.LOAN-DETAILS.ACCT-TYPE') account_type,
  JSON_VALUE(responses,'$.LOAN-DETAILS.DISBURSED-DT') disbursed_date,
  JSON_VALUE(responses,'$.LOAN-DETAILS.CLOSED-DATE') closed_date,
  JSON_VALUE(responses,'$.LOAN-DETAILS.COMBINED-PAYMENT-HISTORY') payment_history,
  JSON_VALUE(responses,'$.LOAN-DETAILS.WRITTEN-OFF_SETTLED-STATUS') writeoff_status,
FROM
  `bharatpe-analytics-prod.bharatpe_mongo_data.consumer_bureau_data` e
LEFT JOIN
  UNNEST(JSON_QUERY_ARRAY(bureauData,'$.B2C-REPORT.RESPONSES.RESPONSE')) AS responses
LEFT JOIN latest_date ld
ON ld.latest_date = e.updated_time
WHERE
  e.bureauData IS NOT NULL
  AND DATE(ingested_time) >= "2022-09-01"
)

select * from trade
where account_type is not NULL
and substr(pancard, 1,1) = 'C'
"""

In [3]:
trade = pandas_gbq.read_gbq(trade)

Downloading: 100%|██████████| 4974/4974 [00:00<00:00, 8338.93rows/s]

In [4]:
inquiry = """
with inquiry as (

WITH
  latest_date AS (
  SELECT
    pancard,
    MAX(updated_time) AS latest_date
  FROM
    `bharatpe-analytics-prod.bharatpe_mongo_data.consumer_bureau_data`
  WHERE
    DATE(ingested_time) >= "2022-09-01"
  GROUP BY
    1 )

SELECT
  e.pancard,
  JSON_VALUE(responses,'$.PURPOSE') purpose,
   JSON_VALUE(responses,'$.INQUIRY-DATE') inquiry_date,

FROM
  `bharatpe-analytics-prod.bharatpe_mongo_data.consumer_bureau_data` e
LEFT JOIN
  UNNEST(JSON_QUERY_ARRAY(bureauData,'$.B2C-REPORT.INQUIRY-HISTORY.HISTORY')) AS responses
LEFT JOIN latest_date ld
ON ld.latest_date = e.updated_time
WHERE
  e.bureauData IS NOT NULL
  AND DATE(ingested_time) >= "2022-09-01"
)
select * from inquiry where purpose is not Null
and substr(pancard, 1,1) = 'C'
"""

In [5]:
inquiry = pandas_gbq.read_gbq(inquiry)

Downloading: 100%|██████████| 1242/1242 [00:00<00:00, 8626.31rows/s]

In [6]:
pull_date = """
SELECT
    pancard,
    date(MAX(updated_time)) AS latest_date
  FROM
    `bharatpe-analytics-prod.bharatpe_mongo_data.consumer_bureau_data`
  WHERE
    DATE(ingested_time) >= "2022-09-01"
  GROUP BY
    1
"""

In [7]:
pull_date = pandas_gbq.read_gbq(pull_date)

Downloading: 100%|██████████| 17296/17296 [00:00<00:00, 33086.25rows/s]

In [8]:
open_date = pull_date.set_index('pancard')['latest_date'].to_dict()

In [9]:
trade['inquiry_date'] = trade['pancard'].map(open_date)

In [10]:
trade.dropna(subset = ['disbursed_date'], inplace= True)
trade.reset_index(inplace=True, drop = True)

In [11]:
trade['disbursed_date'] = pd.to_datetime(trade['disbursed_date'])
trade['inquiry_date'] = pd.to_datetime(trade['inquiry_date'])

In [12]:
trade['month_diff'] = ((trade['inquiry_date'] - trade['disbursed_date'])/np.timedelta64(1, 'M'))

In [15]:
trade['month_diff'] = trade['month_diff'].astype('int')

In [17]:
trade['Helper'] = trade['month_diff'].apply(lambda x: 3*x*'0')

In [19]:
trade['payment_history1'] = trade['Helper'] + trade['payment_history']

In [20]:
trade

,pancard,disbursed_amount,account_type,disbursed_date,closed_date,payment_history,writeoff_status,inquiry_date,month_diff,Helper
0,CFWPD6153C,"81,500",Two-Wheeler Loan,2021-01-30,None,0000000000000000000000000000000000000000000000...,None,2022-11-20,21,0000000000000000000000000000000000000000000000...
1,CFWPD6153C,"1,000",Personal Loan,2021-11-29,None,"000000000000000000000000000000000Oct:2022,308/...",None,2022-11-20,11,000000000000000000000000000000000
2,CFWPD6153C,500,Personal Loan,2020-03-16,22-07-2021,0000000000000000000000000000000000000000000000...,None,2022-11-20,32,0000000000000000000000000000000000000000000000...
3,CFWPD6153C,"1,600",Personal Loan,2020-03-21,None,0000000000000000000000000000000000000000000000...,Restructured due to COVID-19,2022-11-20,32,0000000000000000000000000000000000000000000000...
4,CFWPD6153C,500,Personal Loan,2022-07-23,None,"000000000Sep:2022,050/XXX|Aug:2022,020/XXX|",None,2022-11-20,3,000000000
...,...,...,...,...,...,...,...,...,...,...
4963,CKCPG2679F,"3,000",Other,2021-10-22,None,"000000000000000000000000000000Jun:2022,000/STD...",None,2022-09-06,10,000000000000000000000000000000
4964,CKCPG2679F,"10,000",Personal Loan,2021-07-07,None,000000000000000000000000000000000000000May:202...,None,2022-09-06,13,000000000000000000000000000000000000000
4965,CKCPG2679F,"18,000",Personal Loan,2021-10-28,None,"000000000000000000000000000000Jun:2022,000/XXX...",None,2022-09-06,10,000000000000000000000000000000
4966,CKCPG2679F,"1,000",Personal Loan,2020-09-27,None,0000000000000000000000000000000000000000000000...,None,2022-09-06,23,0000000000000000000000000000000000000000000000...
4967,CKCPG2679F,"3,500",Personal Loan,2022-06-16,None,"000000Jun:2022,000/XXX|",None,2022-09-06,2,000000

In [ ]:
import re
pattern = "\,(\w+)\/"

def str_creator(x):
    # x = trade['payment_history'][0]
    result = re.findall(pattern,x)
    if len(result)<12:
        result = result + ['000' for i in range(0,12 - len(result))]
    if len(result)>12:
        result = result[:12]
    # res = [result[0],result[1],result[2],result[3],result[4],result[5],result[6],result[7],result[8],result[9],result[10],result[11]]
    return result

In [ ]:
trade['payment_history_new'] = trade['payment_history1'].apply(lambda x :str_creator(x))

In [ ]:
split_his = pd.DataFrame(trade['payment_history_new'].tolist())

In [ ]:
trade['m_1'] = split_his[0]
trade['m_2'] = split_his[1]
trade['m_3'] = split_his[2]
trade['m_4'] = split_his[3]
trade['m_5'] = split_his[4]
trade['m_6'] = split_his[5]
trade['m_7'] = split_his[6]
trade['m_8'] = split_his[7]
trade['m_9'] = split_his[8]
trade['m_10'] = split_his[9]
trade['m_11'] = split_his[10]
trade['m_12'] = split_his[11]

In [ ]:
for col in ['m_1', 'm_2', 'm_3', 'm_4', 'm_5', 'm_6', 'm_7','m_8', 'm_9', 'm_10', 'm_11', 'm_12']:
    trade[col] = trade[col].replace(to_replace = ['000', 'XXX', 'DDD'], value = [0,0,0]).astype(int)

In [ ]:
sum(trade['inquiry_date'].isna())

In [ ]:
pointer = trade.columns.get_loc("payment_history_new") + 1

In [ ]:
pointer

In [ ]:
for i in [3,6,9,12]:
    trade['Max_DPD_'+str(i)+'M'] = trade.iloc[:,pointer:pointer+i].max(axis=1)
    trade['DPD_'+str(i)+'M_0'] = (trade.iloc[:,pointer:pointer+i]>0).sum(axis=1)
    trade['DPD_'+str(i)+'M_30'] = (trade.iloc[:,pointer:pointer+i]>30).sum(axis=1)
    trade['DPD_'+str(i)+'M_60'] = (trade.iloc[:,pointer:pointer+i]>60).sum(axis=1)
    trade['DPD_'+str(i)+'M_90'] = (trade.iloc[:,pointer:pointer+i]>90).sum(axis=1)

In [ ]:
unsecured_loans = ['Personal Loan','Consumer Loan','Credit Card']
trade['loan_type'] = np.where(trade['account_type'].isin(unsecured_loans),'unsecured','secured')

In [ ]:
trade